/* .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  
  .button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #04a17a;
  }
  
  .error-message {
    color: red;
    margin-top: 0.5rem;
  }
   */